################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/tictactoegame/.vs/tictactoegame/v16/Server/sqlite3/db.lock
/tictactoegame/.vs/tictactoegame/v16/Server/sqlite3
tictactoegame/.vs/tictactoegame/v16/.suo
tictactoegame/.vs/slnx.sqlite
tictactoegame/.vs/VSWorkspaceState.json
